/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "whitney", sans-serif;
  font-size: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.col {
  float: left;
}
header {
  height: 60px;
  background-color: #3161e0;
}
.nav-header {
  line-height: 60px;
  color: white;
}
.nav-logo img {
  vertical-align: middle;
  height: 1.5em;
}

.nav-logo,
.nav-btn {
  width: 15%;
}
.nav-center {
  width: 65%;
  text-align: center;
}
.nav-center,
.header-menu li {
  margin-right: 1em;
  display: inline-block;
}
.nav-center,
.header-menu a {
  font-size: 1em;
  color: inherit;
}
/* <BUTTONS> */

.nav-btn {
  text-align: right;
}
.btn-white {
  color: black;
  background-color: white;
  font-size: 0.9em;
}
.btn-dark {
  background-color: #23272a;
  color: white;
}
.btn-small {
  padding: 0.6em 1em;
  border-radius: 50px;
}
.btn-large {
  padding: 0.8em 1.5em;
  border-radius: 50px;
  display: inline-block;
}
.banner-content .buttons {
  margin-top: 1em;
}
.banner-content .buttons :first-child {
  margin-right: 1em;
}
.d-arrow {
  font-size: 18px;
}
/* </BUTTONS> */

/* MAIN */

/* BANNER */
.banner {
  /* height: 400px; */
  padding: 8.5em 0;
  background-image: url(../img/jumbo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.banner-content {
  width: 50%;
  margin: auto;
  color: white;
  text-align: center;
}
.banner-content .banner-title {
  font-size: 2.5em;
  margin-bottom: 0.8em;
}
.text {
  font-size: 0.9em;
  line-height: 1.6em;
}

/* <3-sections> */
.three-sections {
  padding: 2em;
}
.col-img {
  width: 70%;
}
.col-text {
  width: 30%;
  margin-top: 2.5em;
}
.bg-grey {
  background-color: #f6f6f6;
}
.title {
  margin-bottom: 1em;
}
